@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 12px;
}

body {
  font-family: "Press Start 2P", cursive;
}

@layer components {
  .border-outset {
    border-width: 1px;
    border-style: outset;
  }
}
